snippet php "php inclusion" b
<?php $1 ?>
endsnippet

snippet acf "acf inclusion" b
<?php the_field('$1'); ?>
endsnippet

snippet acfo "acf option page inclusion" b
<?php the_field('$1', 'option'); ?>
endsnippet
